# Rollbar
NUXT_PUBLIC_ROLLBAR_ENABLED=
NUXT_PUBLIC_ROLLBAR_CLIENT_TOKEN=
NUXT_ROLLBAR_SERVER_TOKEN=

# MISC
NUXT_PUBLIC_NODE_ENV=

# GOOGLE
NUXT_PRANA_PLACE_ID=
NUXT_GOOGLE_API_KEY=

# SUPABASE
SUPABASE_URL=
SUPABASE_KEY=

# MAILGUN
NUXT_MAILGUN_BASE_URL=
NUXT_MAILGUN_KEY=
