# Rollbar
NUXT_PUBLIC_ROLLBAR_ENABLED=
NUXT_PUBLIC_ROLLBAR_CLIENT_TOKEN=
NUXT_ROLLBAR_SERVER_TOKEN=

# MISC
NUXT_PUBLIC_NODE_ENV=

# GOOGLE
NUXT_PRANA_PLACE_ID=
NUXT_GOOGLE_API_KEY=

# SUPABASE
SUPABASE_URL=
SUPABASE_KEY=

# MAILGUN
NUXT_MAILGUN_BASE_URL=
NUXT_MAILGUN_KEY=

# Vercel
NUXT_CRON_SECRET=

# Cloudflare
NUXT_PUBLIC_SCRIPTS_CLOUDFLARE_WEB_ANALYTICS_TOKEN=BK18cuycYSOTv2yFoMEhoKZ72G_gPCCOwnIvBx0_
